<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="cn.edu.nju.cs.workflow.bpel.aspect.editors.AspectMultipageEditorPart"
            contributorClass="cn.edu.nju.cs.workflow.bpel.aspect.editors.AspectEditorContributor"
            extensions="aspect"
            icon="icons/sample.gif"
            id="cn.edu.nju.cs.workflow.bpel.aspect.editors.AspectMultipageEditorPart"
            name="aspect editor">
         <contentTypeBinding
               contentTypeId="cn.edu.nju.cs.workflow.bpel.aspect.contenttype">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="aspect"
            id="cn.edu.nju.cs.workflow.bpel.aspect.contenttype"
            name="BPEL aspect File"
            priority="normal">
         <describer
               class="cn.edu.nju.cs.workflow.bpel.aspect.editors.AspectContentDescriber">
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="cn.edu.nju.cs.workflow.bpel.aspect.resource.AspectResourceFactoryImpl"
            type="aspect">
      </parser>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.content_parser">
      <parser
            class="cn.edu.nju.cs.workflow.bpel.aspect.resource.AspectResourceFactoryImpl"
            contentTypeIdentifier="cn.edu.nju.cs.workflow.bpel.aspect.contenttype">
      </parser>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="cn.edu.nju.cs.workflow.model.aspect.AspectPackage"
            genModel="src/model/aspect.genmodel"
            uri="http://cn.edu.nju.cs.workflow.bpel.aspect">
      </package>
   </extension>
   <extension
         point="org.eclipse.bpel.common.ui.paletteAdditions">
      <additions
            importance="10"
            provider="org.eclipse.bpel.ui.palette.PaletteFactory"
            targetEditor="cn.edu.nju.cs.workflow.bpel.aspectEditor">
      </additions>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.bpel.ui.bpeleditor"
            labelProvider="org.eclipse.bpel.ui.properties.PropertiesLabelProvider"
            typeMapper="org.eclipse.bpel.ui.properties.TypeMapper">
         <propertyCategory
               category="description">
         </propertyCategory>
         <propertyCategory
               category="implementation">
         </propertyCategory>
         <propertyCategory
               category="environment">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
         <propertyCategory
               category="documentation">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.bpel.ui.bpeleditor">
         <propertyTab
               category="description"
               id="org.eclipse.bpel.ui.tabs.description"
               label="%DETAILS_PAGES_DESCRIPTION_LABEL">
         </propertyTab>
         <propertyTab
               category="implementation"
               id="org.eclipse.bpel.ui.tabs.details"
               label="%DETAILS_PAGES_DETAILS_LABEL">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.bpel.ui.tabs.details"
               category="implementation"
               id="org.eclipse.bpel.ui.tabs.compensation"
               label="%DETAILS_PAGES_COMPENSATION_LABEL">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.bpel.ui.tabs.details"
               category="implementation"
               id="org.eclipse.bpel.ui.tabs.repeat"
               label="%DETAILS_PAGES_REPEAT_LABEL">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.bpel.ui.tabs.details"
               category="implementation"
               id="org.eclipse.bpel.ui.tabs.counter_values"
               label="%DETAILS_PAGES_COUNTER_VALUES_LABEL">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.bpel.ui.tabs.counter_values"
               category="implementation"
               id="org.eclipse.bpel.ui.tabs.completion"
               label="%DETAILS_PAGES_COMPLETION_LABEL">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.bpel.ui.tabs.details"
               category="implementation"
               id="org.eclipse.bpel.ui.tabs.joinBehaviour"
               label="%DETAILS_PAGES_JOIN_BEHAVIOUR_LABEL">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.bpel.ui.tabs.joinBehaviour"
               category="implementation"
               id="org.eclipse.bpel.ui.tabs.correlation"
               label="%DETAILS_PAGES_CORRELATION_LABEL">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.bpel.ui.tabs.details"
               category="implementation"
               id="org.eclipse.bpel.ui.tabs.imports"
               label="%DETAILS_PAGES_IMPORTS_LABEL">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.bpel.ui.tabs.imports"
               category="implementation"
               id="org.eclipse.bpel.ui.tabs.namespacePrefixes"
               label="%DETAILS_PAGES_NAMESPACEPREFIXES_LABEL">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.bpel.ui.tabs.details"
               category="implementation"
               id="org.eclipse.bpel.ui.tabs.expiration"
               label="%DETAILS_PAGES_EXPIRATION_LABEL">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.bpel.ui.tabs.details"
               category="implementation"
               id="org.eclipse.bpel.ui.tabs.initialization"
               label="%DETAILS_PAGES_INITIALIZATION_LABEL">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.bpel.ui.tabs.correlation"
               category="implementation"
               id="org.eclipse.bpel.ui.tabs.messageExchange"
               label="%DETAILS_PAGES_MESSAGE_EXCHANGE_LABEL">
         </propertyTab>
         <propertyTab
               category="documentation"
               id="org.eclipse.bpel.ui.tabs.documentation"
               label="%DETAILS_PAGES_DOCUMENTATION_LABEL">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.bpel.ui.bpeleditor">
         <propertySection
               class="org.eclipse.bpel.ui.properties.ActionImplementationSection"
               id="org.eclipse.bpel.ui.sections.ActionImplementationSection"
               tab="org.eclipse.bpel.ui.tabs.details">
            <input
                  type="org.eclipse.bpel.model.Empty">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.ui.properties.NameSection"
               id="org.eclipse.bpel.ui.sections.Name"
               tab="org.eclipse.bpel.ui.tabs.description">
            <input
                  type="org.eclipse.bpel.model.Activity">
            </input>
            <input
                  type="org.eclipse.wst.wsdl.ExtensibilityElement">
            </input>
            <input
                  type="org.eclipse.bpel.model.Variable">
            </input>
            <input
                  type="org.eclipse.bpel.model.CorrelationSet">
            </input>
            <input
                  type="org.eclipse.bpel.model.PartnerLink">
            </input>
            <input
                  type="org.eclipse.bpel.model.Process">
            </input>
            <input
                  type="org.eclipse.bpel.model.Link">
            </input>
            <input
                  type="org.eclipse.bpel.model.MessageExchange">
            </input>
         </propertySection>
         <propertySection
               afterSection="org.eclipse.bpel.ui.sections.Name"
               class="org.eclipse.bpel.ui.properties.NamespaceSection"
               id="org.eclipse.bpel.ui.sections.Namespace"
               tab="org.eclipse.bpel.ui.tabs.description">
            <input
                  type="org.eclipse.bpel.model.Process">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.ui.properties.ImportsSection"
               id="org.eclipse.bpel.ui.sections.Imports"
               tab="org.eclipse.bpel.ui.tabs.imports">
            <input
                  type="org.eclipse.bpel.model.Process">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.ui.properties.NamespacePrefixesSection"
               id="org.eclipse.bpel.ui.sections.NamespacePrefixes"
               tab="org.eclipse.bpel.ui.tabs.namespacePrefixes">
            <input
                  type="org.eclipse.bpel.model.Activity">
            </input>
            <input
                  type="org.eclipse.bpel.model.Process">
            </input>
         </propertySection>
         <propertySection
               afterSection="org.eclipse.bpel.ui.sections.JoinCondition"
               class="org.eclipse.bpel.ui.properties.JoinFailureSection"
               id="org.eclipse.bpel.ui.sections.JoinFailure"
               tab="org.eclipse.bpel.ui.tabs.joinBehaviour">
            <input
                  type="org.eclipse.bpel.model.Activity">
            </input>
            <input
                  type="org.eclipse.wst.wsdl.ExtensibilityElement">
            </input>
            <input
                  type="org.eclipse.bpel.model.Process">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.ui.properties.VariableTypeSection"
               id="org.eclipse.bpel.ui.sections.VariableImpl"
               tab="org.eclipse.bpel.ui.tabs.details">
            <input
                  type="org.eclipse.bpel.model.Variable">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.ui.properties.CorrSetImplSection"
               id="org.eclipse.bpel.ui.sections.CorrSetImpl"
               tab="org.eclipse.bpel.ui.tabs.details">
            <input
                  type="org.eclipse.bpel.model.CorrelationSet">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.ui.properties.CorrelationSection"
               id="org.eclipse.bpel.ui.sections.Correlation"
               tab="org.eclipse.bpel.ui.tabs.correlation">
            <input
                  type="org.eclipse.bpel.model.Invoke">
            </input>
            <input
                  type="org.eclipse.bpel.model.OnMessage">
            </input>
            <input
                  type="org.eclipse.bpel.model.OnEvent">
            </input>
            <input
                  type="org.eclipse.bpel.model.Receive">
            </input>
            <input
                  type="org.eclipse.bpel.model.Reply">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.ui.properties.MessageExchangeSection"
               id="org.eclipse.bpel.ui.sections.MessageExchange"
               tab="org.eclipse.bpel.ui.tabs.messageExchange">
            <input
                  type="org.eclipse.bpel.model.OnMessage">
            </input>
            <input
                  type="org.eclipse.bpel.model.OnEvent">
            </input>
            <input
                  type="org.eclipse.bpel.model.Receive">
            </input>
            <input
                  type="org.eclipse.bpel.model.Reply">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.ui.properties.ScopeImplSection"
               id="org.eclipse.bpel.ui.sections.ScopeImpl"
               tab="org.eclipse.bpel.ui.tabs.details">
            <input
                  type="org.eclipse.bpel.model.Scope">
            </input>
         </propertySection>
         <propertySection
               afterSection="org.eclipse.bpel.ui.sections.InvokeImpl"
               class="org.eclipse.bpel.ui.properties.CreateInstanceSection"
               id="org.eclipse.bpel.ui.sections.CreateInstance"
               tab="org.eclipse.bpel.ui.tabs.details">
            <input
                  type="org.eclipse.bpel.model.Receive">
            </input>
            <input
                  type="org.eclipse.bpel.model.Pick">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.ui.properties.InvokeImplSection"
               id="org.eclipse.bpel.ui.sections.InvokeImpl"
               tab="org.eclipse.bpel.ui.tabs.details">
            <input
                  type="org.eclipse.bpel.model.Receive">
            </input>
            <input
                  type="org.eclipse.bpel.model.Invoke">
            </input>
            <input
                  type="org.eclipse.bpel.model.Reply">
            </input>
            <input
                  type="org.eclipse.bpel.model.OnMessage">
            </input>
            <input
                  type="org.eclipse.bpel.model.OnEvent">
            </input>
         </propertySection>
         <propertySection
               afterSection="org.eclipse.bpel.ui.sections.InvokeImpl"
               class="org.eclipse.bpel.ui.properties.InvokeVariableSection"
               id="org.eclipse.bpel.ui.sections.InvokeVariable"
               tab="org.eclipse.bpel.ui.tabs.details">
            <input
                  type="org.eclipse.bpel.model.Receive">
            </input>
            <input
                  type="org.eclipse.bpel.model.Invoke">
            </input>
            <input
                  type="org.eclipse.bpel.model.Reply">
            </input>
            <input
                  type="org.eclipse.bpel.model.OnMessage">
            </input>
            <input
                  type="org.eclipse.bpel.model.OnEvent">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.ui.properties.CompensateScopeSection"
               id="org.eclipse.bpel.ui.sections.CompensateScope"
               tab="org.eclipse.bpel.ui.tabs.details">
            <input
                  type="org.eclipse.bpel.model.CompensateScope">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.ui.properties.CatchAllSection"
               id="org.eclipse.bpel.ui.sections.CatchAll"
               tab="org.eclipse.bpel.ui.tabs.details">
            <input
                  type="org.eclipse.bpel.model.CatchAll">
            </input>
         </propertySection>
         <propertySection
               afterSection="org.eclipse.bpel.ui.sections.JoinCondition"
               class="org.eclipse.bpel.ui.properties.ExitOnStandardFaultSection"
               id="org.eclipse.bpel.ui.sections.ExitOnStandardFaultSection"
               tab="org.eclipse.bpel.ui.tabs.details">
            <input
                  type="org.eclipse.bpel.model.Process">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.ui.properties.FaultCatchNameSection"
               id="org.eclipse.bpel.ui.sections.FaultCatchName"
               tab="org.eclipse.bpel.ui.tabs.details">
            <input
                  type="org.eclipse.bpel.model.Catch">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.ui.properties.FaultThrowNameSection"
               id="org.eclipse.bpel.ui.sections.FaultThrowName"
               tab="org.eclipse.bpel.ui.tabs.details">
            <input
                  type="org.eclipse.bpel.model.Throw">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.ui.properties.ElseConditionSection"
               id="org.eclipse.bpel.ui.sections.OtherwiseCondition"
               tab="org.eclipse.bpel.ui.tabs.details">
            <input
                  type="org.eclipse.bpel.model.Else">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.ui.properties.JoinConditionSection"
               id="org.eclipse.bpel.ui.sections.JoinCondition"
               tab="org.eclipse.bpel.ui.tabs.joinBehaviour">
            <input
                  type="org.eclipse.bpel.model.Activity">
            </input>
            <input
                  type="org.eclipse.wst.wsdl.ExtensibilityElement">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.ui.properties.WhileConditionSection"
               id="org.eclipse.bpel.ui.sections.WhileCondition"
               tab="org.eclipse.bpel.ui.tabs.details">
            <input
                  type="org.eclipse.bpel.model.While">
            </input>
            <input
                  type="org.eclipse.bpel.model.RepeatUntil">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.ui.properties.ForEachSection"
               id="org.eclipse.bpel.ui.sections.ForEach"
               tab="org.eclipse.bpel.ui.tabs.details">
            <input
                  type="org.eclipse.bpel.model.ForEach">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.ui.properties.ForEachCounterValuesSection"
               id="org.eclipse.bpel.ui.sections.ForEachStartCounterValue"
               tab="org.eclipse.bpel.ui.tabs.counter_values">
            <input
                  type="org.eclipse.bpel.model.ForEach">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.ui.properties.ForEachSuccessfulBranchesOnlySection"
               id="org.eclipse.bpel.ui.sections.ForEachSuccessfulBranchesOnly"
               tab="org.eclipse.bpel.ui.tabs.completion">
            <input
                  type="org.eclipse.bpel.model.ForEach">
            </input>
         </propertySection>
         <propertySection
               afterSection="org.eclipse.bpel.ui.sections.ForEachSuccessfulBranchesOnly"
               class="org.eclipse.bpel.ui.properties.ForEachCompletionSection"
               id="org.eclipse.bpel.ui.sections.ForEachCompletion"
               tab="org.eclipse.bpel.ui.tabs.completion">
            <input
                  type="org.eclipse.bpel.model.ForEach">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.ui.properties.CaseConditionSection"
               id="org.eclipse.bpel.ui.sections.CaseCondition"
               tab="org.eclipse.bpel.ui.tabs.details">
            <input
                  type="org.eclipse.bpel.model.ElseIf">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.ui.properties.CaseConditionSection"
               id="org.eclipse.bpel.ui.sections.IfCondition"
               tab="org.eclipse.bpel.ui.tabs.details">
            <input
                  type="org.eclipse.bpel.model.If">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.ui.properties.TransitionConditionSection"
               id="org.eclipse.bpel.ui.sections.TransitionCondition"
               tab="org.eclipse.bpel.ui.tabs.details">
            <input
                  type="org.eclipse.bpel.model.Link">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.ui.properties.WaitConditionSection"
               id="org.eclipse.bpel.ui.sections.WaitCondition"
               tab="org.eclipse.bpel.ui.tabs.details">
            <input
                  type="org.eclipse.bpel.model.Wait">
            </input>
            <input
                  type="org.eclipse.bpel.model.OnAlarm">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.ui.properties.RepeatingAlarmConditionSection"
               id="org.eclipse.bpel.ui.sections.RepeatingAlarmCondition"
               tab="org.eclipse.bpel.ui.tabs.repeat">
            <input
                  type="org.eclipse.bpel.model.OnAlarm">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.ui.properties.PartnerLinkImplSection"
               id="org.eclipse.bpel.ui.sections.PartnerLinkImpl"
               tab="org.eclipse.bpel.ui.tabs.details">
            <input
                  type="org.eclipse.bpel.model.PartnerLink">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.ui.properties.AssignImplSection"
               id="org.eclipse.bpel.ui.sections.AssignImpl"
               tab="org.eclipse.bpel.ui.tabs.details">
            <input
                  type="org.eclipse.bpel.model.Assign">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.ui.properties.ValidateSection"
               id="org.eclipse.bpel.ui.sections.ValidateSection"
               tab="org.eclipse.bpel.ui.tabs.details">
            <input
                  type="org.eclipse.bpel.model.Assign">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.ui.properties.ValidateVariablesSection"
               id="org.eclipse.bpel.ui.sections.ValidateVariablesSection"
               tab="org.eclipse.bpel.ui.tabs.details">
            <input
                  type="org.eclipse.bpel.model.Validate">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.ui.properties.VariableInitializationSection"
               id="org.eclipse.bpel.ui.sections.VariableInitializationSection"
               tab="org.eclipse.bpel.ui.tabs.initialization">
            <input
                  type="org.eclipse.bpel.model.Variable">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.ui.properties.DocumentationSection"
               id="org.eclipse.bpel.ui.sections.DocumentationSection"
               tab="org.eclipse.bpel.ui.tabs.documentation">
            <input
                  type="org.eclipse.bpel.model.BPELExtensibleElement">
            </input>
         </propertySection>
      </propertySections>
   </extension>

</plugin>
