<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="csh" description="CSharpPartialClassses" language="CSharpPartialClassses" derivedFrom="DynamicRoot" validator="csharppartialclassses.CSharpPartialClasssesValidator" validatorClass="csharppartialclassses.CSharpPartialClasssesValidator"></language>
       </extension>
       <extension id="csharppartialclassses.parser" name="CSharpPartialClassses Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="csharppartialclassses.CSharpPartialClasssesParseController" language="CSharpPartialClassses">
          </parser>
       </extension>    
    </plugin>