<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="aspect" description="AO4BPELEditor" language="AO4BPELEditor" derivedFrom="DynamicRoot" validator="AO4BPELEditor.AO4BPELEditorValidator" validatorClass="AO4BPELEditor.AO4BPELEditorValidator"></language>
       </extension>
       <extension id="AO4BPELEditor.parser" name="AO4BPELEditor Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="AO4BPELEditor.AO4BPELEditorParseController" language="AO4BPELEditor">
          </parser>
       </extension>    
    </plugin>