<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="cs.nju.edu.cn"
            class="cn.edu.nju.cs.workflow.model.ModelPackage"
            genModel="model/workflow.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated workflow -->
      <package
            uri="cs.nju.edu.cn"
            class="workflow.model.ModelPackage"
            genModel="model/workflow.genmodel"/>
   </extension>

</plugin>
